---
import ContentListActions from './ContentListActions.svelte';

type Props = {
  base?: string;
  endpoint: string;
};

const props = Astro.props;
---

<div data-admin-content-list-actions-island>
  <ContentListActions client:only="svelte" {...props} />
</div>
